.home-container{
    margin-top: 117px;
    margin-left: 120px;
}
.home-title{
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
    margin-bottom: 24px;
}

.home-description{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    width: 612px;
    height: 216px;
    color: #5A6774;
}
