.search-profile-container{
    width: 1251px;
    height: 270px;
    border-radius: 16px;
    background: #E6F7FF;
    margin-top: 54px;
    padding-top: 66px;
    padding-left: 94px;
    margin-left: 200px;
}



.find-user{
    width: 676px;
    height: 40px;
    margin-top: 12px;
}

.find-user-container{
    margin-bottom: 15px;
}

